<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a [routerLink]="['/create-employee']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-plus"></i>&nbsp;Create Employee
        </a>
        <a [routerLink]="['/list-of-employees']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-list"></i>&nbsp;List of Employees
        </a>
    </div>
</nav>
