<section class="main-container">
    <h2>Create Employee</h2>
    <hr>
    <form>
        <div class="form-group row">
            <label for="fname" class="col-sm-2 col-form-label">First Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control medium-input" id="fname" placeholder="Enter first name">
            </div>
        </div>
        <div class="form-group row">
            <label for="lname" class="col-sm-2 col-form-label">Last Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control medium-input" id="lname" placeholder="Enter last name">
            </div>
        </div>
        <div class="form-group row">
            <label for="emailaddr" class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control medium-input" id="emailaddr" placeholder="Enter email address">
            </div>
        </div>
        <div class="form-group row">
            <label for="phoneNo" class="col-sm-2 col-form-label">Phone Number:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control medium-input" id="phoneNo" placeholder="Enter phone number">
            </div>
        </div>
    </form>
</section>
