<section class="main-container">
    <h2>Employee Records</h2>
    <div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead class="thead-inverse">
        <tr class="highlight">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Id</th>
            <th>Gross Pay</th>
            <th>Payable Salary</th>
        </tr>
        </thead>
        <tbody>
        <tr class="clickable" *ngFor="let employee of employeeList; let i = index" (click)="open(content, i)">
            <td>{{employee.FirstName}}</td>
            <td>{{employee.LastName}}</td>
            <td>{{employee.Email}}</td>
            <td>{{employee.empSalary.grossPay | currency}}</td>
            <td>{{employee.empSalary.payableSalary | currency}}</td>
        </tr>
        </tbody>
    </table>
    </div>
    <ng-template #content let-c="close" let-d="dismiss" class="modal-width">
        <div class="modal-header">
            <h4 class="modal-title">{{selectedEmployee.FirstName}} {{selectedEmployee.LastName}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">First Name:</label>
                    <div class="col-sm-8">
                        <label name="firstName" class="col-form-label" id="fname">{{selectedEmployee.FirstName}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Last Name:</label>
                    <div class="col-sm-8">
                        <label name="lastName" class="col-form-label">{{selectedEmployee.LastName}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Email:</label>
                    <div class="col-sm-8">
                        <label name="email" class="col-form-label">{{selectedEmployee.Email}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Address:</label>
                    <div class="col-sm-8">
                        <label name="address" class="col-form-label">{{selectedEmployee.Address}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Phone Number:</label>
                    <div class="col-sm-8">
                        <label name="phoneNo" class="col-form-label">{{selectedEmployee.PhoneNumber}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">SSN:</label>
                    <div class="col-sm-8">
                        <label name="firstName" class="col-form-label">{{selectedEmployee.SSN}}</label>
                    </div>
                </div>

                <br>
                <h2>Salary Details</h2>
                <hr>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Annual Gross Pay:</label>
                    <div class="col-sm-8">
                        <label name="grossPay" class="col-form-label">{{selectedEmployee.empSalary.grossPay | currency}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">State Tax:</label>
                    <div class="col-sm-8">
                        <label name="stateTax" class="col-form-label">{{selectedEmployee.empSalary.stateTax}}%</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Federal Tax:</label>
                    <div class="col-sm-8">
                        <label name="federalTax" class="col-form-label">{{selectedEmployee.empSalary.federalTax}}%</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Health Insurance:</label>
                    <div class="col-sm-8">
                        <label name="healthInsurance" class="col-form-label">{{selectedEmployee.empSalary.healthInsurance}}%</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Social Security Tax:</label>
                    <div class="col-sm-8">
                        <label name="ssnTax" class="col-form-label">{{selectedEmployee.empSalary.socialSecurityTax}}%</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Reimbursements:</label>
                    <div class="col-sm-8">
                        <label name="reimbursements" class="col-form-label">{{selectedEmployee.empSalary.reimbursements | currency}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Bonus:</label>
                    <div class="col-sm-8">
                        <label name="bonus" class="col-form-label">{{selectedEmployee.empSalary.bonus | currency}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Payable Salary:</label>
                    <div class="col-sm-8">
                        <label name="payableSalary" class="col-form-label">{{selectedEmployee.empSalary.payableSalary | currency}}</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
            <button type="button" class="btn btn-danger" (click)="openDeleteDialog(deletionConfirmation)">Delete
            </button>
        </div>
    </ng-template>
    <!-- deletion confirmation modal -->
    <ng-template #deletionConfirmation let-cl="close" let-ds="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Delete</h4>
            <button type="button" class="close" aria-label="Close" (click)="ds('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="cl('Close click')">No</button>
            <button type="button" class="btn btn-danger" (click)="deleteEmployee()">Yes</button>
        </div>
    </ng-template>
</section>


